# Email credentials for Playwright user worker (2FA-enabled workers)
E2E_USER_EMAIL_1=
E2E_USER_EMAIL_2=
E2E_USER_EMAIL_3=
E2E_USER_EMAIL_4=
E2E_USER_EMAIL_5=

# Password credentials for Playwright user worker (2FA-enabled workers)
E2E_USER_PASSWORD_1=
E2E_USER_PASSWORD_2=
E2E_USER_PASSWORD_3=
E2E_USER_PASSWORD_4=
E2E_USER_PASSWORD_5=

# Shared TOTP secret for all Playwright user workers
E2E_TOTP_SECRET=

# Email credentials for Playwright user worker (Non-2FA workers)
E2E_USER_EMAIL_6=
E2E_USER_EMAIL_7=
E2E_USER_EMAIL_8=
E2E_USER_EMAIL_9=
E2E_USER_EMAIL_10=

# Password credentials for Playwright user worker (Non-2FA workers)
E2E_USER_PASSWORD_6=
E2E_USER_PASSWORD_7=
E2E_USER_PASSWORD_8=
E2E_USER_PASSWORD_9=
E2E_USER_PASSWORD_10=
