# Drizzle ORM connection string for the primary database
DATABASE_URL=

# Auth.js generated secret key for signing and encrypting JWTs and session data
AUTH_SECRET=
AUTH_TRUST_HOST=

# Resend API key used for sending transactional emails
RESEND_API_KEY=

# Resend-verified mail domain
RESEND_MAIL_DOMAIN=

# The canonical base URL of the application
NEXT_PUBLIC_APP_URL=

# The default email address for application correspondence
NEXT_PUBLIC_CONTACT_EMAIL=

# A secret token to authorize incoming requests to protected cron job endpoints
CRON_SECRET=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ORCID OAuth Credentials
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=

# Microsoft Entra ID Credentials
AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=

# Connection credentials for Upstash Redis database
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# AWS S3 Bucket Configuration
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Secure keys for authenticating with and verifying requests from Inngest
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=

# The canonical base URL of the API endpoint
NEXT_PUBLIC_FASTAPI_URL=

# FastAPI secret key configuration
FASTAPI_SECRET_KEY=

# MaxMind GeoIP license key for location detection
MAXMIND_LICENSE_KEY=

# Encryption key for sensitive data
ENCRYPTION_KEY=

# Sentry Authentication Token
SENTRY_AUTH_TOKEN=

# Logging Configuration
LOG_LEVEL=